.loading{
    height: 20%;
    margin: 1rem auto;
    padding: 5rem;
    width: 80%;
    text-align: center;
    display: block;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    color: white;
    border-radius: 12px;
}
.loader{
    border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #e21258; /* Blue */
  margin: auto;
  text-align: center;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }